input[type="text"]{
    padding: 8px 12px;
    font-size: 1.3rem;
    width: 80%;
}

#result{
    margin-top: 5vh;
    font-size: 1.4rem;
}

#result div div{
    display: inline-block;
    margin-left: 22px;
}