input[type="text"]{
    padding: 8px 12px;
    font-size: 1.3rem;
    width: 80%;
}

#result{
    margin-top: 5vh;
    font-size: 1.4rem;
}

#result div div{
    display: inline-block;
    margin-left: 22px;
}

.draggable {
    cursor: move;
}

.draggable.dragging{
    opacity: .5;
}

.hidden{
    display: none;
}

@media print{
    h1, input, button{
        display: none;
    }
    *{
        font-size: 1.15rem;
    }
}