body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background-color: aliceblue;
}
.fcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.frow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    padding: 6px 9px;
}