body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    background-color: burlywood;
}
.fcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas{
    background-color: white;
}

.frow{
    display: flex;
    flex-direction: row;
}

.drawform{
    margin-right: 45px; 
}

.drawform input{
    padding: 8px;
    margin: 5px;
}